.meme-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    .input-row {
        margin-top: 5px;
        margin-bottom: 20px;
        label {
            margin: 2px;
            font-size: 2em;
            color: #F9F7F7
        }
        input {
            padding: 5px;
            margin-right: 10px;
            width: 20vw;
            border-radius: 10px;
        }
    }
    .button-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        button {
            background-color: #112D4E;
            color: #F9F7F7;
            border-color: #3F72AF;
            border-radius: 5px;
            font-weight: 600;
            margin: 5px;
            &:hover {
                background-color: #F9F7F7;
                color: #112D4E;
                border-color: #3F72AF;
            }
        }
    }
}

.meme-space {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    img {
        width: 30vw;
        height: 50vh;
    }
    .meme {
        position: relative;
        margin: auto;
        h2 {
            position: absolute;
            width: 80%;
            text-align: center;
            left: 50%;
            transform: translateX(-50%);
            margin: 15px 0;
            padding: 0 5px;
            font-family: impact, sans-serif;
            font-size: 2em;
            text-transform: uppercase;
            color: white;
            letter-spacing: 1px;
            text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000, 2px 2px 5px #000;
        }
    }
    .meme>.bottom {
        bottom: 0;
    }
    .meme>.top {
        top: 0;
    }
}

@media screen {
    .display {
        display: block;
    }
}

@media print {
    .display {
        visibility: hidden;
    }
    .meme-space {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        img {
            width: 700px;
            height: 700px;
        }
    }
}